.all {
    background-image: url("../../public/img/notitas.jpg");
    background-size: contain;
    height: 100vh;
}

.logo {
    width: 70px;
    height: 70px;
}

.text {
    font-size: 50px;
    text-align: center;
    letter-spacing: 4px;
    padding: 10px;
}

.bear {
    width: 180px;
    height: 180px;
    margin: 53px 0;

}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    align-self: center;
    background-color: #ACF2F2;
    color: black;
    font-weight: bolder;
    font-size: 18px;
    width: 10%;
    height: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-color: #ACF2F2;
    border-radius: 5px;
}

@media only screen and (min-width: 820px) and (max-width:1180px){
    .container{
        padding: 100px;
    }
    .text {
        font-size: 90px;
        text-align: center;
        color: black;
        letter-spacing: 1px;
    }
    .logo {
        width: 100px;
        height: 100px;
    }
    .bear {
        width: 30%;
        height: 250px;
        margin: 50px 0;
    }

    .btn {
        font-size: 30px;
        height: 150px;
        width: 19%;
        border-radius: 10px;
        margin: 50px 10px;
        
    }
}