.container{
    background-color: rgba(250, 157, 120, 0.788);
    width: 100%;
    height: 100vh;
    
}

.logo{
    width: 50px;
    height: 50px;
}

.text{
    margin: 0 0;
    padding: 20px;
    font-size: 50px;
    text-align: center;
    color: white;
}

.bear{
    margin: 0 150px;
    width: 200px;
    height: 200px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.btn{

align-self: center;
    background-color: wheat;
    color: salmon;
    font-weight: bolder ;    
    font-size: 25px;
    width: 170px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-color: wheat;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px wheat;
    margin-top: 20px;
    height: 80px;
}
