.header{
    background-color: lightsalmon;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bolder;
}

.img{
    height: 100px;
    width: 100px;
    margin-left: -20px;
    padding: 15px;
}


.form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    margin: 40px 0; 
    
}

.input{ 
    display: flex;
    align-self: center;
    border: 1px solid lightgray;
    border-radius: 15px;
    background-color: lightgray;
    height: 35px;
    width: 80%;
    box-shadow: 2px 2px 2px 2px gray;
    margin: 15px 0;
}

.label{
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.btnLogin{
    align-self: center;
    background-color: lightsalmon;
    color: white;
    font-size: 25px;
    width: 170px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-color: lightsalmon;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px salmon;
    margin-top: 20px;
    height: 60px;

}

.containerGoogle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 250px;
    border-color: lightgray;
    margin: -15px 48px;
    

}

.btnGoogle{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
    font-size: 20px;
    height: 50px;
    width: 270px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: white;
    border-color: lightgray; 
}

.logoGoogle{
    padding: 0 8px;
    width: 25px;
}

.ahref{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 30px 0;
}



