.header{
    background-color: #fdfd96   ;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    font-weight: bolder;
}

.img{
    height: 180px;
    width: 180px;
    margin-left: -20px;
    padding: 15px;
}


.form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    margin: 40px 0; 
    
}

.input{ 
    display: flex;
    align-self: center;
    font-size: 25px;
    border: 1px solid lightgray;
    border-radius: 15px;
    background-color: lightgray;
    height: 65px;
    width: 80%;
    box-shadow: 2px 2px 2px 2px gray;
    margin: 25px 0;
}

.label{
    text-align: left;
    font-size: 30px;
    /* font-weight: bold; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.btnRegister{
    align-self: center;
    background-color: #fdfd96;
    color: black;
    font-size: 33px;
    letter-spacing: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 300px;
    margin-top: 30px;
    height: 90px;
    border-color: #fdfd96;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px #fdfd96d8;

}


