.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fdfd96;
    height: 150px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

.img {
    width: 80px;
    height: 80px;
    margin: 2px 0px 0 -20px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px 0;
}

.input {
    width: 400px;
    height: 35px;
    font-size: 15px;
    margin: 0 480px;
    border: 1px solid lightgray;
    border-radius: 2px;
    background-color: lightgray;
    box-shadow: 0.5px 0.5px 0.5px 0.5px gray;

}

.label {
    margin: 15px 480px;
    font-size: 18px;
}

.btnRegister {
    font-size: 17px;
    width: 10%;
    height: 40px;
    margin: 25px 610px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    border-radius: 1px;
    border: 0.2px solid gray;
    background-color: #fdfd96;
    border-color: #fdfd96;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px #fdfd96d8;
}


@media only screen and (min-width: 820px) and (max-width:1180px) {
    .header {
        background-color: #fdfd96;
        height: 40vh;
        width: 960px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 70px;
        font-weight: bolder;

    }

    .img {
        height: 180px;
        width: 180px;
        margin-left: -20px;
        padding: 15px;
    }

    .form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        margin: 40px 0;
    }

    .input {
        display: flex;
        align-self: center;
        font-size: 35px;
        border: 1px solid lightgray;
        border-radius: 15px;
        background-color: lightgray;
        height: 65px;
        width: 700px;
        box-shadow: 2px 2px 2px 2px gray;
        margin: 30px 0px 0 160px;

    }

    .label {
        font-size: 45px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding-top: 15px;
        margin: 0 150px;
    }

    .btnRegister {
        align-self: center;
        background-color: #fdfd96;
        color: black;
        font-size: 40px;
        letter-spacing: 2px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 300px;
        margin: 65px 0px 0 150px ;
        height: 90px;
        border-color: #fdfd96;
        border-radius: 10px;
        box-shadow: 1px 1px 1px 1px #fdfd96d8;
    }

}